body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    background-color: #f4f4f4;
}
/*Global*/
.container{
    width: 90%;
    margin: auto;
    overflow: hidden;
}
/*header*/
header{
    background: #ab0100;
    color: #ffffff;
    padding-top: 15px;
    min-height: 50px;
    border-bottom: none;
}
header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}
header ul{
    margin: 0px;
    padding: 0px;
}
header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
header #logo{
    float: left;
}
header #logo h1{
    margin: 0;
    font-size: 20px;
}
header nav{
    float: right;
    margin-top: 10px;
}
header .highlight{
    border: 1px solid white;
    padding: 2px;
    font-weight: bold;
}
header a:hover{
    border: 1px solid white;
    padding: 2px 20px;
    color: white;
    transition: 0.5s ease-in;
    font-weight: bold
}

/* Landing*/
#landing{
    min-height: 480px;
    background: url(kfa.png) no-repeat;
    background-size: cover;
    text-align: center;
    color: #ffffff;
    padding-top: -5px;
}
.btn{
   border: 1px solid white;
   padding: 2px 20px;
   color: white;
   text-decoration: none;
   font-size: 13px;
   text-transform: uppercase;
}

.signin:hover, .signup:hover{
    background-color: darkorange;
    transition: 0.5s ease-in;
}

#landing h1{
    margin-top: 160px;
    font-size: 40px;
    margin-bottom: 10px;
}
footer{
    color: #ffffff;
    padding: 3px;
    margin-top: 10px;
    background-color: #ab0100;
    text-align: center;
}

/*Signin*/
.fcontainer 
{
    position: relative;
	top: 20%;
	width: 20%;	
	padding: 5px 8px 50px 8px;
	background: rgb(247, 247, 247);
	border: 1px solid rgba(147, 184, 189,0.8);
	box-shadow:	
		0pt 2px 5px rgba(105, 108, 109,  0.7),	
		0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
    border-radius: 5px;
    min-height: 60%;
    margin-left: 40%;
    margin-right: 60%;
    background-color:#8a20007d;
}
#signform{
    min-height: 480px;
    background: url(dango.jpg) no-repeat;
    background-size: cover;
    text-align: center;
    color: #ffffff;
    margin-top: 0%;
}
.tbox, .tbox [type=text],.tbox [type=password]{
    width: 90%;
    padding: 12px;
    border-radius: 5px;
    margin-top: 1px;
    margin-bottom: 1px;
    resize: vertical;
    border-radius: 4px;
    background-color: #4b060296;
}
.lbtn{
    width: 90%;
    padding: 12px 16PX;
    border-radius: 5px;
    margin-top: 1px;
    margin-bottom: 1px;
    resize: vertical;
    border-radius: 4px;
}
.container a{
    text-decoration: none;
    columns: #535252;
    font-size: 14px;
}
.foot1, .foot2{
    color: #fa88019e;
    padding: 2px 5px;
    border-radius: 4px;

}
.foot1:hover, .foot2:hover{
    background-color: darkorange;
    color: #ffffff;
    transition: 0.5s ease-in;
    border-radius: 4px;
}

/*Signup*/

#signupform{
    min-height: 480px;
    background: url(dango.jpg) no-repeat;
    background-size: cover;
    text-align: center;
    color: #ffffff;
    
}

.scontainer{
    position: absolute;
    top: 20%;
    width: 20%;	
    padding: 5px 8px 50px 100px;
    background: rgb(247, 247, 247);
    border: 1px solid rgba(147, 184, 189,0.8);
    box-shadow:	
        0pt 2px 5px rgba(105, 108, 109,  0.7),	
        0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
    border-radius: 5px;
    min-height: 60%;
    margin-left: 40%;
    margin-right: 60%;
    background-color:#8a20007d;
}


















